<div class="edu">
  {%- for s in site.data.education %}
  <div class="edu-school">
    <div class="edu-school-name">
      {%- if s.url %}<a href="{{ s.url }}">{{ s.school }}</a>{% else %}{{ s.school }}{% endif -%}
    </div>
    <ul class="edu-list">
      {%- for d in s.degrees %}
      <li class="edu-item">
        <div class="edu-degree">
          {{ d.degree }}
          {%- if d.note %}<span class="edu-note">{{ d.note }}</span>{% endif -%}
        </div>
        {%- if d.date %}<div class="edu-date">{{ d.date }}</div>{% endif -%}
      </li>
      {%- endfor %}
    </ul>
  </div>
  {%- endfor %}
</div>
